<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prognose-Tool Prototype">
        <meta name="author" content="Waleed El Sayed (4eyes GmbH)">
        <link rel="icon" href="favicon.ico">
        <title>Prognose-Tool</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/prognosis.css" rel="stylesheet">
        <!-- angular js -->
        <script src="js/vendor/angular.js"></script>
    </head>
    <body ng-app="prognose-tool" ng-controller="prognoseController">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">{{prognoseToll.PageTitle}}</a>
            </nav>
        </header>
        <main role="main" class="content">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-12 col-md-9 topBar" id="topBar">
                    <div class="category">
                        <h6>{{prognoseToll.categoryTitle}}</h6>
                        <button type="button" class="btn btn-default btn-circle" ng-repeat="category in prognoseToll.categories">{{category.name}}</button>
                    </div>
                    <div class="period">
                        <h6>{{prognoseToll.periodTitle}}</h6>
                        <button type="button" class="btn btn-default btn-circle" ng-repeat="period in prognoseToll.periods">{{period.name}}</button>
                    </div>
                </div>
                <div class="col-12 col-md-9 charts">
                    <div class="jumbotron">
                        <div id="chart-container"></div>
                    </div>
                </div>
                <div class="col-6 col-md-3 sidebar-offcanvas sidebar" id="sidebar">
                    <div class="category">
                        <h6>{{prognoseToll.categoryTitle}}</h6>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="category in prognoseToll.categories">{{category.name}}</li>
                        </ul>
                    </div>
                    <div class="period">
                        <h6>{{prognoseToll.periodTitle}}</h6>
                        <button type="button" class="btn btn-default btn-circle" ng-repeat="period in prognoseToll.periods">{{period.name}}</button>
                    </div>
                </div>
            </div>
        </main>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
        <script src="js/vendor/bootstrap/popper.min.js"></script>
        <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="js/vendor/highcharts.js"></script>
        <script src="js/main.js"></script>
        <script src="js/prognosis.js"></script>
    </body>
</html>
