.content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.topBar {
    display: none;
}

.jumbotron {
    margin-top: 6rem
}

.sidebar {
    margin-top: 6rem;
    font-size: 12px;
}

.category {
    margin-bottom: 2rem;
}

.period {
    margin-left: 5px;
}

.list-group .list-group-item {
    cursor:pointer;
}

.list-group .list-group-item:hover {
    background-color: #DCDCDC;
}
.list-group .active:hover {
    background-color: #157FFC;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
    margin-right: 1rem;
    cursor:pointer;
    background-color: #DCDCDC;
}

button.active, button.active:focus{
    box-shadow: 0 0 0 0.2rem #157FFC;
}

@media (max-width: 767px) {
    .topBar {
        display: block;
        margin-top: 4.4rem;
    }

    .topBar .category, .topBar .period {
        float: left;
    }

    .topBar .category {
        margin-right: 2rem;
    }

    .topBar .category .btn {
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
    }

    .jumbotron {
        margin-top: 0;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 541px) {
    .topBar {
        padding-bottom: 1.5rem;
    }

    .topBar .category {
        margin-bottom: 1rem;
    }
}

@media (max-width: 419px) {
    .topBar .btn {
        margin-bottom: 1rem;
    }
}